*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

h1{
    font-family: 'Karla', sans-serif;
    font-size: 1.95rem;
}

button{
   font-family: 'Inter', sans-serif;
    font-weight: 500;
    color:#F5F7FB;
    background-color:#4D5B9E;
    border: none;
    border-radius: 15px;
    cursor: pointer; 
}

button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* bakcground images */
.bckg--img{
    position: fixed;
    z-index: -1;
}

.top--img{
    width: 15%;
    top:0;
    right: 0; 
}

.bottom--img{
    width: 15%;
    bottom: 0;
    left:0;  
}


/* INTRO COMPONENT */
.intro--cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
}

.intro--title{
    margin: 0;
    color: #293264;
    font-size: 1.95rem;
}
.intro--description{
    color: #293264;
    margin: 7px 0 29px;
    
    }

.intro--btn{
    width: 193px;
    height: 52px;
    
}

.selections--form{
    display: flex;
    flex-direction: column;
    color:#293264;
}

.radios--cont{
    display: flex;
    margin-bottom: 20px;
    
}

#easy,
#medium,
#hard,
#five,
#ten,
#fifteen{
    border: solid 1px #293264;
    margin-right: 10px;
}

.form--hr{
    /* border:none; */
    border-top: 2px dashed #293264;
    margin-bottom: 20px;
}



/* QUIZ COMPONENT */
main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: auto; 
    width: 90%;
}

.questions--cont,
.option--cont,
.main--cont{
    display:flex;
}

.main--cont{
    flex-direction: column;
    justify-content: center;
}


.main--btn{
    align-self: center;
    max-width: 170px;
    height: 35px;
    font-size: .85rem;
    font-weight:normal;
    padding: 11px 21px;
}


.btn--cont{
    display: flex;
    padding-right: 1.2em;
    color:#293264;
    font-weight: bold;
    justify-content: space-around;
    
    
}

.main--results{
    display: inline-block;
}


.questions--cont{
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}

.question{
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    color: #293264;
}

.option--cont{
    flex-wrap: wrap;
}

.option{
 max-width: 12.12em; 
 padding: 4px 19.11px; 
 border: solid 1px;
 border-radius: 20px;
 margin-right: 12.94px;
 cursor: pointer;
 color: #293264;
}

.click{
    background-color:#D6DBF5;
    color:#293264;
    /* font-weight: bold; */
    border: none;
    
}

.correct_unselected{
    background-color: #94D7A2;
    color: gray;
}

.incorrect_unselected{
    color: gray;
}

.correct_selected{
    background-color: #94D7A2;
    font-weight: bold;
}

.incorrect_selected{
    background-color: #F8BCBC;
    font-weight: bold;
}


hr{
    width: 100%;
    border: none;
    border-top: .79px  #DBDEF0 solid;
}

/* CANNOT CLICK POP UP */

#unfinish--click{
    display: flex
}

.cannot--click {
  margin: 0;
  width: 100vw; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.cannot--inner {
    display: flex;
    width: 50%; 
    height: 50%;
    padding: 0 20px 15px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.cannot--btn{
    font-size: 2rem;
    cursor: pointer;
    align-self:flex-end;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cannot--btn:hover{
    color: red;
}

.cannot--h3{
    color: #293264;
    margin-bottom: 0;
}